fastapi>=0.115.0
uvicorn>=0.30.0
sqlalchemy>=2.0.0
pandas>=2.2.0
openpyxl>=3.1.2
python-multipart>=0.0.9
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]>=1.7.4
pydantic==2.10.4
python-dotenv==1.0.0
xlrd>=2.0.1
